* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Times New Roman', sans-serif;
}

:root {
--text: #0e1203;
--background: #fcfef6;
--primary: #2d8014;
--secondary: #d3f8dd;
--accent: #22dd54;
--color2: #ae2d2d;
}

html {
    font-size: 62.5%;
    overflow-x: scroll;
    height: 100%;
    width: 100%;
    scroll-padding-top: 7rem;
}

body {
    height: 100%;
    width: 100%;
    background: var(--background);
    color: var(--color2);
}

.main
{
    display: flex;
}

 #logo {
    border-radius: 50%;
    border: .3rem solid var(--accent);
    /* margin: 2rem; */
    height: 6rem;
    width: 6rem;
    border-color: #22dd54;
    /* position: absolute; */
    filter: contrast(1) saturate(1.7);
}


/* header */

.header {
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background:  #1f242d;
    box-shadow: var(--primary);
}

/* Navbar */

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--accent);
}

.header .navbar a:hover {
    color: #b374e7;
}

/* Search Bar */
#search-bar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    height: 3rem;
    border-color: #04AA6D;
    border: 1;
    outline: none;
    padding: 0.2rem 0.2rem;
    background-color: #fdfffc;
    backface-visibility: hidden;
    transition: .5s erase;
}

  /* Search Bar hover  */
  #search-bar:hover{
    background-color: #f2f2f2;
    box-shadow: 0 0 .5rem #04AA6D;
}

/* Search button */
.search-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border: .1rem solid #04AA6D;
    border-radius: 50%;
    font-size: 1rem;
    color: #04AA6D;
    transition: .3s erase;
}

  /* search button */
  .search-button:hover{
    background-color: #f2f2f2;
    box-shadow: 0 0 .5rem #04AA6D;
}

/* cart */
#cart {
    margin-right: 1rem;
    font-size: 1.9rem;
    color: aliceblue;

}

#cart:hover {
    color: var(--accent);
    text-shadow: 1rem var(--accent);
}

/* User */
#user {
    margin-right: 1rem;
    font-size: 1.9rem;
    color: aliceblue;
}

#user:hover {
    color: var(--accent);
    text-shadow: 1rem var(--accent);
}
